<%- include("header") %>

<div style="border: 2px red dotted; height: 500px; width: 1000px;">
    <form action="editCategorySubmit" method="post">
        <table align="center" class="table table-bordered">
            <tr>
                <td>Edit Category Name</td>
                <td><input type="text" name="catname" value="<%=catdata.catname%>" required/></td>
            </tr>
            <tr>
                <td>Edit Category Description</td>
                <td><textarea name="cDescription" required><%=catdata.cDescription%></textarea></td>
            </tr>
            <tr>
                <td>Edit Category Status</td>
                <td><input type="text" name="cStatus" value="<%=catdata.cStatus%>" required/></td>
            </tr>
            <input type="hidden" name="catid" value="<%=catdata._id%>" />
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" value="Update" />
                </td>
            </tr>
        </table>
    </form>
</div>

<%- include("footer") %>
