<%- include('header'); %>

<div style="border: 2px red dotted; height: 500px; width: 1000px;">
<h1 class="bg-primary text-dark">Product List</h1>
<table align="center" class="table table-striped">
<tr>
<th>Product Name</th>
<th>Description</th>
<th>Price</th>
<th>Quantity Sold</th>
<th>Quantity</th>
<th>Category</th>
<th>Offer</th>
<th>Rating</th>
<th>Status</th>
<th>Action</th>
</tr>
<% for (let x of itemData){ %>
<tr>
<td><%= x.pName %></td>
<td><%= x.pDescription %></td>
<td><%= x.pPrice %></td>
<td><%= x.pSold %></td>
<td><%= x.pQuantity %></td>
<td><%= x.pCategory %></td>
<td><%= x.pOffer %></td>
<td><%= x.pRating %></td>
<td><%= x.pStatus %></td>
<td>
    <a href="/editItem?itemid=<%= x._id %>">Edit</a> | 
    <a href="/deleteItem?itemid=<%= x._id %>">Delete</a>
</td>
</tr>
<% } %>
</table>

<%- include('footer'); %>
