<%- include("header") %>

<div style="border: 2px solid blue; padding: 20px; width: 1000px; margin: auto;">
    <h1 class="bg-primary text-dark">User List</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>User Role</th>
                <th>Verified</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% for (let user of usersList) { %>
                <tr>
                    <td><%= user.name %></td>
                    <td><%= user.email %></td>
                    <td><%= user.phoneNumber %></td>
                    <td><%= user.userRole %></td>
                    <td><%= user.verified ? "Yes" : "No" %></td>
                    <td>
                        <a href="/editUser?userid=<%= user._id %>">Edit</a> | 
                        <a href="/deleteUser?userid=<%= user._id %>">Delete</a>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>
</div>

<%- include("footer") %>
